<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android2o"
        tools:targetApi="31">
        <activity
            android:name=".todoApp.TodoAppActivity"
            android:exported="true"
            android:label="@string/title_activity_todo_app"
            android:theme="@style/Theme.Android2o" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lazyrowcoloumn.LazyRowColumn"
            android:exported="true"
            android:label="@string/title_activity_lazyrowcolumn"
            android:theme="@style/Theme.Android2o">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".stateManage.StateMangeComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_stte_mange_compose"
            android:theme="@style/Theme.Android2o">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".WelcomeComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Android2o">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_main_compose"
            android:theme="@style/Theme.Android2o">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".MainRecyclerviewActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <!--
activity that open for other app
EX: if edit photo our app will display at bottom to ask for edit with this app
        -->
        <activity
            android:name=".MainActivityBottomLayout"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
           <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />
            </intent-filter>-->

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>